<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="animation.css">
    <title>About </title>
</head>
<body>

    <div id="about">



            <div id="haut">
                
                <div id="logo">
                    <a href="/">
                        <img src="img/telum.png" alt="">
                    </a>
                </div>
                <div>
                    DATABASE OF BRASSICA NAPUS
                </div>
            </div>


            <div class="us">

                

            </div>
                
           


            




            <div id="bas">
                <div class="copyright" style="display: flex; justify-content: space-between; width: 500px;">
                    <div>
                        Copyright &copy; @2021 Bioinformatics - Constantine - UNIV 1
                    </div>
                    
                </div>

            </div>   

        

    </div>



    
    
</body>
</html>