<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="animation.css">
    <title><%= home %> </title>
</head>
<body>

    <div id="main">


        <div id="garde">

            

            <div id="haut">
            
                <div id="logo">
                    <a href="/">
                        <img src="img/telum.png" alt="">
                    </a>
                </div>
                <div>
                    DATABASE OF BRASSICA NAPUS
                </div>
                
            </div>


            <div id="description">
                <h2>About the database</h2>
                <div class="content">
                    The database of Brassica Napus is an interactive web-based platform which provide information About
                    genes expressions in different environmental and biological conditions.
                </div>
            </div>


            <div class="animation">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>

            <div id="search">
                <h2>Search genes by family</h2>

                <div id="formulaire">

                    <input type="text" placeholder="keywords... example : HSF , AP2/ERF , WRKY , MADS ">
                    <button>Search</button>
                    <span class="err">Empty field.</span>
                    <span class="notfound">No result found.</span>
                </div>
            </div>

            <div id="prcgc">
                
                <input type="text" id="prc" placeholder="Calculer le pourcentage GC exemple : ATGGTG...">
                <span class="resprc" style="color: rgb(0, 132, 255); font-family: sans-serif;"></span>
            </div>





            <div id="bas">
                <div class="copyright" style="display: flex; justify-content: space-between; width: 500px;">
                    <div>
                        Copyright &copy; @2021 Bioinformatics - Constantine - UNIV 1
                    </div>
                    <div class="about">
                        <a href="/about">About</a>
                    </div>
                </div>

                

                <div>
                    <a href="/add">Add</a>
                </div>
            </div>



        </div>
        

        

    </div>


    

    <script src="jq.js"></script>
    
    <script src="home.js"></script>

    
    
</body>
</html>